* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $baseFont;
  @include fontsize($root-font-size);
}
body {
  overflow-x: hidden;
  a {
    text-decoration: none !important;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none !important;
    }
  }
  li {
    list-style: none;
  }
  textarea:focus,
  input:focus {
    outline: none;
  }
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  &:focus {
    border: none;
    outline: none;
  }
}
