//Fonts
$baseFont: 'IRANSans';

//Colors
$body-color-defualt: #f3f6f9;
$white-color: #ffffff;
$Divider-color: #d6d6d654;
$Primary-color: #009ef7;
$warning-color: #ffc700;
$danger-color: #f1416c;
$success-color: #50cd89;
$light-Primary-color: #1976d2c7;
$text-color: #000;
$Accent-color: #04c8c8;

// Fonts Size
$root-font-size: 14px; // Root font size for desktop mode
$root-font-size-lg: 14px; // Root font size for tablet mode
$root-font-size-md: 12px; // Root font size for mobile mode

//Aside
$aside-bg: #1e1e2d;
$aside-menu-link: #9899ac;
