<!DOCTYPE html>
<!--
Author: Mohammad Mokhtari
Product Name:admin template 
Contact: dev.mohammadmokhtari@gmail.com
github: https://github.com/MohammadMokhtari
Follow:https://instagram.com/mohammadmokhtari8
-->
<html lang="en">
<!--begin :: head-->

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- <link rel="icon" type="image/x-icon" href="./media/images/logo/logo-blue.png"> -->
     <title>فروشگاه اینترنتی آسـانـا</title>
     <!--begin :: google icon -->
     <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
          rel="stylesheet">
     <!--end :: google icon -->
     <!--begin :: Global StyleSheet-->
     <link rel="stylesheet" href="assets/css/style.bundel.css">
     <!--end :: Global StyleSheet-->
     <!--begin :: Scripts-->
     <script src="assets/js/vendor.bundel.js" async></script>
     <script src="assets/js/app.bundel.js" defer></script>
     <!--end :: Scripts-->
</head>
<!--end :: head-->

<body>
     <main>
          <main>
               <section class="client_form">
                    <div class="inner border shadow-box">
                         <form action="">
                              <h2> ورود به سایت </h2>
                              <p>با ورود به سایت از مزایای کاربران سایت بهره مند شوید</p>
                              <div class="inner_logo">
                                   <a href="index.html">
                                        <img class="logo-img" src="./assets/images/logo/logo.png" alt="">
                                   </a>
                                   <img class="auth-img" src="./assets/images/other/verification.png" alt="">
                              </div>
                              <div class="row">
                                   <div class="col-md-12 p-0">
                                        <div class="input_element">
                                             <i class="material-icons md-dark">email</i>
                                             <input type="email" placeholder="پست الکترونیک">
                                        </div>
                                        <div class="input_element">
                                             <i class="material-icons md-dark">key</i>
                                             <input type="password" placeholder="کلمه عبور">
                                        </div>
                                   </div>
                                   <div class="col-md-6">
                                        <div class="checkbbox_remember">
                                             <label class="label">
                                                  <div class="toggle">
                                                       <input class="toggle-state" type="checkbox" name="check"
                                                            value="check" />
                                                       <div class="toggle-inner">
                                                            <div class="indicator"></div>
                                                       </div>
                                                       <div class="active-bg"></div>
                                                  </div>
                                                  <div class="label-text-right">مرا به خاطر بسپار</div>
                                             </label>
                                        </div>
                                   </div>
                                   <div class="login_btn col-md-12">
                                        <button type="submit">ورود</button>
                                   </div>
                                   <div class="other_ways col-md-12">
                                        <div class="other_ways_inside">
                                             <a href="">
                                                  <img class="mx-2" src="./assets/images/logo/social-logos/google.svg"
                                                       alt="">

                                             </a>
                                             <a href="">
                                                  <img class="mx-2" src="./assets/images/logo/social-logos/github.svg"
                                                       alt="">

                                             </a>
                                        </div>
                                   </div>
                                   <div class="other_link col-md-12">
                                        <a href="signup.html"> <i class="icon-user-plus"></i> ثبت نام در سایت </a>
                                        <a href=""><i class="icon-unlock"></i> رمز عبور خود را فراموش کرده ام
                                             !</a>
                                   </div>
                              </div>
                         </form>
                    </div>
               </section>
          </main>
     </main>

</body>

</html>