.bdr {
  border-radius: 10px;
  font-size: 12px;
}

table {
  border-radius: 5px;
  font-size: 12px;
}
td {
  border-radius: 5px;
  font-size: 12px;
}
tr {
  cursor: pointer;
}
th {
  vertical-align: middle !important;
}
